.ICEauthority
.android/
.atom/
.babel.json
.bash_history
.bash_logout
.bundle/
.byebug_hist
.cache/
.com.privateinternetaccess.vpn/
.config/Atom/
.config/Code/Backups/
.config/Code/Cache/
.config/Code/CachedData/
.config/Code/CachedExtensions/
.config/Code/Cookies
.config/Code/Cookies-journal
.config/Code/GPUCache/
.config/Code/Local Storage/
.config/Code/Preferences
.config/Code/User/workspaceStorage/
.config/Code/languagepacks.json
.config/Code/logs/
.config/Code/machineid
.config/Code/storage.json
.config/Postman/
.config/PrivateInternetAccess/
.config/QtProject.conf
.config/Trolltech.conf
.config/akregatorrc
.config/arkrc
.config/autostart/
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/chromium/
.config/configstore/
.config/dconf/
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/emaildefaults
.config/enchant/
.config/evince/
.config/evolution/
.config/filetypesrc
.config/gedit/
.config/gnome-control-center/
.config/gnome-gmail/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtkrc
.config/gtkrc-2.0
.config/htop/
.config/ibus/
.config/kaccessrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/katepartrc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kcmsambarc
.config/kcmshell5rc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded_device_automounterrc
.config/kdeglobals
.config/kfontinstuirc
.config/kfontviewrc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khelpcenterrc
.config/khotkeysrc
.config/kinfocenterrc
.config/kiorc
.config/klipperrc
.config/kmixrc
.config/knotifyrc
.config/konq_history
.config/konquerorrc
.config/konsolerc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/plasma-locale-settings.sh
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma_workspace.notifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse/
.config/session/
.config/skypeforlinux/
.config/spectaclerc
.config/startupconfig
.config/startupconfigfiles
.config/startupconfigkeys
.config/sublime-text-3/
.config/systemmonitorrc
.config/systemsettingsrc
.config/teamviewer
.config/totem/
.config/touchpadrc
.config/trashrc
.config/ukuu-notify.sh
.config/ukuu.json
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/yelp/
.cups/
.dbshell
.directory
.eslintrc
.expo/
.fonts.conf
.fonts/
.gconf/
.gem/
.gimp-2.8/
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.gtkrc-2.0-kde4
.httrack.ini
.kde/
.lesshst
.local/
.mongorc.js
.mozilla/
.netrc
.ngrok2/
.node-gyp/
.node_repl_history
.npm/
.nvm/
.pam_environment
.pgadmin3
.pia_manager/
.pia_manager_crash.log
.pki/
.pry_history
.psql_history
.pulse-cookie
.pylint.d/
.rbenv/
.recently-used
.remmina/
.sqlite_history
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.var/
.vscode/
.vuerc
.wget-hsts
.xinputrc
Desktop/
Downloads/
Pictures/
Scripts/
core
examples.desktop
pia.sh
